<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href = "/stylesheets/style.css">
</head>
<body>
    <div class = "content">
        <form action="/submit" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
            <button type="submit">Submit</button>
        </form>
        <form action="/account/create" method="GET">

            <button type="submit">Create Account</button>
        </form>
        <!-- <div class ="grid-container">
            <div class="_username">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class ="_password">
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" required>
            </div>
            <form action="/submit" method="POST">
                <button type="submit">Submit</button>
            </form>
            <div class="column">
                <form action="/account/create" method="GET">
                    <button type="submit">Create Account</button>
                </form>
            </div>
        </div> -->
    </div>

</body>
</html>